.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 1px 0px 10px #888888;
}
.home-header div {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-footer {
  display: none;
}
@media screen and (max-width: 968px) {
  .home-header,
  .home {
    width: 90% !important;
    box-shadow: none;
  }
  .home-item,
  .ticket-item,
  .vertical-sidebar,
  .places,
  .schedule-panel {
    display: none !important;
  }
  .home-footer {
    display: flex;
  }
}
