.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 1px 0px 10px #888888;
}
.home-header div {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
