.vertical-sidebar {
  width: 20%;
  padding: 10px;
  background-color: aliceblue;
  text-align: center;
}
.vertical-sidebar p {
  color: #1495ec;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 15px 8px;
}
hr {
  width: 42%;
  background-color: #1495ec;
  margin: auto;
  height: 1px;
  border: 0;
}
